.neon-border {
  animation: neonPulse 3s ease-in-out infinite;
  background: linear-gradient(90deg, #7f00ff, #e100ff, #7f00ff);
  padding: 2px;
}

@keyframes neonPulse {
  0%,
  100% {
    box-shadow: 0 0 6px #7f00ff, 0 0 12px #e100ff, 0 0 18px #7f00ff;
  }
  50% {
    box-shadow: 0 0 12px #7f00ff, 0 0 24px #e100ff, 0 0 36px #7f00ff;
  }
}

.neon-input-container input:focus {
  box-shadow: 0 0 10px #e100ff;
}

.neon-input-container input {
  flex-grow: 1;
  font-size: 1.125rem;
  caret-color: #e100ff;
}

.neon-input-container input::placeholder {
  color: #d8b3ff;
  opacity: 0.8;
}

.left {
  border-radius: 0 100% 100% 0;
}

.right {
  border-radius: 100% 0 0 100%;
}

.main {
  position: relative;
}
.logo,
.menu {
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: flex;
  pointer-events: none;
  width: 0;
}

.logo {
  transform: translateX(50px);
}

.menu {
  transform: translateX(-50px);
}

.logo.show,
.menu.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  width: min-content;
}

#dropdownMenu {
  position: absolute;
  bottom: 70px;
  right: 43px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
  visibility: hidden;
  width: 180px;
  background-color: #440483;
}
#dropdownMenu.drop-show {
  position: absolute;
  bottom: 50px;
  right: 43px;
  width: 180px;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.center {
  width: 70%;
}
.left-width {
  width: 0;
}
